h1,
h2,
h3 {
  text-align: center;
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
*,
::after,
::before {
  box-sizing: border-box;
}

html {
  -moz-tab-size: 4;
  tab-size: 4;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

hr {
  height: 0;
  color: inherit;
}

abbr[title] {
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
pre,
samp {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  text-indent: 0;
  border-color: inherit;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
select {
  text-transform: none;
}

[type=button],
[type=reset],
[type=submit],
button {
  -webkit-appearance: button;
}

::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

:-moz-focusring {
  outline: 1px dotted ButtonText;
}

:-moz-ui-invalid {
  box-shadow: none;
}

legend {
  padding: 0;
}

progress {
  vertical-align: baseline;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}

:root {
  --main-color: #757575;
  --accent-color: #2196F3;
  --title-text-color: #212121;
  --white-color: #FFFFFF;
  --general-transition-effect: .25s cubic-bezier(0.4, 0, 0.2, 1);
  --hero-image-overlay: rgba(47, 48, 58, 0.4);
  --hero-image-background-color: #C4C4C4;
}

body {
  background-color: var(--white-color);
  color: var(--main-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
}

body.is-hidden {
  overflow-y: hidden;
}

button {
  color: inherit;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 480px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.head-list {
  border-bottom: 1px solid #ECECEC;
}

.main-nav {
  display: flex;
  align-items: center;
}

.head-list__logo {
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  text-decoration-line: none;
  padding: 15px 0 16px;
}
@media screen and (min-width: 768px) {
  .head-list__logo {
    padding: 26px 0;
    margin-right: 87px;
  }
}
@media screen and (min-width: 1200px) {
  .head-list__logo {
    line-height: 1.29;
    padding: 24px 0 25px 0;
    margin-right: 92px;
  }
}

.head-list__nav {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .head-list__nav {
    margin-top: 0;
    margin-bottom: auto;
  }
}

.head-list__accent {
  color: #000000;
}

.site-nav {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .site-nav {
    flex-direction: row;
  }
}

.site-nav__item {
  margin-bottom: 32px;
}
@media screen and (min-width: 768px) {
  .site-nav__item {
    margin-bottom: 0;
  }
  .site-nav__item:not(:last-child) {
    margin-right: 50px;
  }
}

.site-nav__link {
  display: inline-block;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color var(--general-transition-effect);
}
@media screen and (min-width: 768px) {
  .site-nav__link {
    position: relative;
    font-size: 14px;
    line-height: 1.16;
    padding: 32px 0;
  }
  .site-nav__link:focus::after, .site-nav__link:hover::after {
    left: 0;
    width: 100%;
  }
  .site-nav__link::after {
    position: absolute;
    content: "";
    right: 0;
    bottom: -1px;
    height: 4px;
    width: 0%;
    border-radius: 2px;
    background-color: var(--accent-color);
    transition: width var(--general-transition-effect);
  }
}
.site-nav__link:focus, .site-nav__link:hover {
  color: var(--accent-color);
}

.site-nav__link--current {
  color: var(--accent-color);
}
.site-nav__link--current::after {
  width: 100%;
}

.contact {
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: 64px;
}
@media screen and (min-width: 768px) {
  .contact {
    flex-direction: column;
    margin: 0 0 0 auto;
  }
}
@media screen and (min-width: 1200px) {
  .contact {
    flex-direction: row;
  }
}

@media screen and (max-width: 767px) {
  .contact__item:not(:first-child) {
    margin-bottom: 32px;
  }
}
@media screen and (min-width: 768px) {
  .contact__item:not(:last-child) {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .contact__item:not(:last-child) {
    margin-right: 30px;
    margin-bottom: 0;
  }
}

.contact__link {
  font-weight: 500;
  text-decoration: none;
  letter-spacing: 0.02em;
  display: flex;
  color: var(--main-color);
  transition: color var(--general-transition-effect);
}
.contact__link:focus, .contact__link:hover {
  color: var(--accent-color);
}
.contact__link.number {
  font-size: 34px;
  line-height: 40px;
}
@media screen and (max-width: 767px) {
  .contact__link.number {
    color: #2196f3;
  }
}
@media screen and (min-width: 768px) {
  .contact__link.number {
    align-items: center;
    font-size: 12px;
    line-height: 1.16;
    padding-bottom: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .contact__link.number {
    font-size: 14px;
    line-height: 1.14;
    padding: 32px 0;
  }
}
.contact__link.mail {
  font-size: 24px;
  line-height: 28px;
}
@media screen and (min-width: 768px) {
  .contact__link.mail {
    align-items: center;
    font-size: 12px;
    line-height: 1.16;
    padding-top: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .contact__link.mail {
    font-size: 14px;
    line-height: 1.14;
    padding: 32px 0;
  }
}

.contact__icon {
  display: none;
  fill: currentColor;
}
@media screen and (min-width: 768px) {
  .contact__icon {
    display: inline;
    margin-right: 8px;
  }
}
@media screen and (min-width: 1200px) {
  .contact__icon {
    margin-right: 10px;
  }
}

@media screen and (min-width: 768px) {
  .contact__link.mail > .contact__icon {
    width: 14px;
    height: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .contact__link.mail > .contact__icon {
    width: 16px;
    height: 12px;
  }
}

@media screen and (min-width: 768px) {
  .contact__link.number > .contact__icon {
    width: 10px;
    height: 14px;
  }
}
@media screen and (min-width: 1200px) {
  .contact__link.number > .contact__icon {
    width: 10px;
    height: 16px;
  }
}

.head-list__open-menu {
  display: flex;
  background-color: transparent;
  margin-right: 0;
  margin-left: auto;
  font-family: "Roboto";
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .head-list__open-menu {
    display: none;
  }
}

.head-list__close-menu {
  position: absolute;
  top: 10px;
  right: 15px;
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.head-list__close-menu:hover, .head-list__close-menu:focus {
  color: var(--accent-color);
}
@media screen and (min-width: 768px) {
  .head-list__close-menu {
    display: none;
  }
}

.head-list__community {
  display: flex;
  flex-wrap: wrap;
  row-gap: 10px;
}

@media screen and (min-width: 768px) {
  .community {
    display: none;
  }
}
.community__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: #2196f3;
  text-decoration: none;
}

.community__item {
  position: relative;
}
.community__item:not(:last-child) {
  margin-right: 20px;
}
.community__item:not(:last-child)::after {
  position: absolute;
  content: "";
  right: -10px;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(33, 33, 33, 0.2);
  width: 1px;
  height: 100%;
}

@media screen and (max-width: 767px) {
  .head-list__side-menu {
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: var(--white-color);
    opacity: 1;
    transform: translateX(0%);
    transition: transform var(--general-transition-effect), opacity var(--general-transition-effect);
    padding: 48px 40px;
    display: flex;
    flex-direction: column;
  }
  .head-list__side-menu.is-hide {
    opacity: 0;
    transform: translateX(100%);
    pointer-events: none;
  }
}
@media screen and (min-width: 768px) {
  .head-list__side-menu {
    display: flex;
    width: 100%;
  }
}
.hero__image-wraper {
  padding: 118px 0;
  margin: 0 auto;
  max-width: 480px;
  background: linear-gradient(var(--hero-image-overlay), var(--hero-image-overlay)), url("../images/hero-480.jpg") no-repeat center/cover, var(--hero-image-background-color);
}
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero__image-wraper {
    background: linear-gradient(var(--hero-image-overlay), var(--hero-image-overlay)), url("../images/hero-480@2x.jpg") no-repeat center/cover, var(--hero-image-background-color);
  }
}
@media screen and (min-width: 768px) {
  .hero__image-wraper {
    max-width: 768px;
    background: linear-gradient(var(--hero-image-overlay), var(--hero-image-overlay)), url("../images/hero-768.jpg") no-repeat center/cover, var(--hero-image-background-color);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero__image-wraper {
    background: linear-gradient(var(--hero-image-overlay), var(--hero-image-overlay)), url("../images/hero-768@2x.jpg") no-repeat center/cover, var(--hero-image-background-color);
  }
}
@media screen and (min-width: 1200px) {
  .hero__image-wraper {
    padding: 200px 0;
    max-width: 1600px;
    background: linear-gradient(var(--hero-image-overlay), var(--hero-image-overlay)), url("../images/hero-1200.jpg") no-repeat center/cover, var(--hero-image-background-color);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero__image-wraper {
    background: linear-gradient(var(--hero-image-overlay), var(--hero-image-overlay)), url("../images/hero-1200@2x.jpg") no-repeat center/cover, var(--hero-image-background-color);
  }
}

.hero__context--align {
  text-align: center;
}

.hero__title {
  max-width: 360px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
  margin: 0 auto 30px;
}
@media screen and (min-width: 1200px) {
  .hero__title {
    max-width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}

button {
  font-family: inherit;
}

.button {
  border-radius: 4px;
  border-color: transparent;
  padding: 10px 24px;
  margin-top: 30px;
  background-color: var(--accent-color);
  color: var(--white-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover {
  background-color: #188CE8;
}
@media screen and (min-width: 1200px) {
  .button:hover {
    padding: 10px 32px;
  }
}

.feature {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .feature {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.feature__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.feature__item {
  flex-basis: 100%;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .feature__item {
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .feature__item {
    flex-basis: calc((100% - 90px) / 4);
  }
}

.thumb {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #F5F4FA;
  border-radius: 4px;
  margin-bottom: 30px;
  width: 450px;
  min-height: 226px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .thumb {
    width: 354px;
    min-height: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .thumb {
    width: 270px;
    min-height: 120px;
  }
}

.feature__title {
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .feature__title {
    text-align: start;
  }
}

.feature__text {
  line-height: 1.71;
}

.work {
  padding-bottom: 94px;
}
@media screen and (max-width: 1200px) {
  .work {
    display: none;
  }
}

.work__list {
  display: flex;
}
.work__list .work__item + .work__item {
  margin-left: 30px;
}

.work__title {
  color: var(--title-text-color);
  font-size: 36px;
  line-height: 1.17;
  margin-bottom: 50px;
}

.img-container {
  position: relative;
}

.work__text {
  color: var(--white-color);
  font-weight: 700;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.team {
  background-color: #F5F4FA;
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.team__title {
  color: var(--title-text-color);
  font-size: 28px;
  line-height: 1.18;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .team__title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.16;
  }
}

.team__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.team__item {
  background-color: var(--white-color);
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  flex-basis: 100%;
}
@media screen and (min-width: 768px) {
  .team__item {
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .team__item {
    flex-basis: calc((100% - 90px) / 4);
  }
}

.person {
  padding: 30px 0 24px 0;
}
@media screen and (min-width: 1200px) {
  .person {
    padding: 30px 0;
  }
}

.person__title {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 10px;
}

.person__text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 16px;
}

.person__social-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.person__social-circle {
  display: flex;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  align-items: center;
  justify-content: center;
  fill: #FFFFFF;
  transition-property: background;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.person__social-circle:hover, .person__social-circle:focus {
  background: var(--accent-color);
}
.person__social-circle:hover .person__social-icon, .person__social-circle:focus .person__social-icon {
  fill: var(--white-color);
}

.person__social-icon {
  fill: #AFB1B8;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.clients__title {
  color: var(--title-text-color);
  font-size: 28px;
  line-height: 1.17;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .clients__title {
    font-size: 36px;
    margin-bottom: 50px;
  }
}

.clients__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}
@media screen and (min-width: 1200px) {
  .clients__list {
    display: flex;
    gap: 30px;
  }
}

.clients__link {
  display: flex;
  border: 1px solid #AFB1B8;
  width: 210px;
  height: 92px;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:hover, .clients__link:focus {
  border-color: var(--accent-color);
}
.clients__link:hover .clients__icon, .clients__link:focus .clients__icon {
  fill: var(--accent-color);
}
@media screen and (min-width: 768px) {
  .clients__link {
    width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .clients__link {
    width: 170px;
  }
}

.clients__icon {
  fill: #AFB1B8;
  width: 106px;
  height: 60px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.page-foot {
  background-color: #2F303A;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 60px;
}
@media screen and (min-width: 768px) {
  .footer-content {
    flex-direction: row;
    align-items: baseline;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .footer-content {
    justify-content: unset;
    flex-wrap: nowrap;
  }
}

.page-foot__logo {
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  text-decoration-line: none;
  text-align: center;
  display: inline-block;
  margin-bottom: 20px;
}
@media screen and (min-width: 1200px) {
  .page-foot__logo {
    font-size: 26px;
    line-height: 1.19;
    text-align: left;
  }
}

.page-foot__address-block {
  text-align: center;
}

.page-foot__logo .page-foot__accent {
  color: var(--white-color);
}

.address-list {
  font-style: inherit;
}

.address-list__contact .address-list__link {
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.71;
  text-decoration-line: none;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.address-list__contact .address-list__link:hover, .address-list__contact .address-list__link:focus {
  color: var(--accent-color);
}

.address-list__contact .address-list__map {
  color: var(--white-color);
  line-height: 1.71;
  text-decoration-line: none;
}

.address-list__contact .address-list__item + .address-list__item {
  margin-top: 8px;
}
@media screen and (min-width: 1200px) {
  .address-list__contact .address-list__item + .address-list__item {
    margin-top: 9px;
  }
}

.social-foot {
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .social-foot {
    margin-left: 70px;
  }
}

.social-foot__title,
.footer-form__title {
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 1.14;
  color: var(--white-color);
  text-align: center;
  margin-bottom: 20px;
}
@media screen and (min-width: 1200px) {
  .social-foot__title,
.footer-form__title {
    text-align: left;
  }
}

.social-foot__links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.social-foot__icon {
  fill: var(--white-color);
}

.social-foot__circle {
  background-color: #44454E;
  display: flex;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  align-items: center;
  justify-content: center;
  fill: #FFFFFF;
  transition-property: background;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social-foot__circle:hover, .social-foot__circlefocus {
  background: var(--accent-color);
}

.footer-form {
  width: 100%;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-form {
    max-width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-form {
    margin-left: 93px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-form__form {
    display: flex;
    justify-content: center;
    align-items: baseline;
  }
}

.footer-form__input {
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  width: 100%;
  height: 50px;
  background-color: #2F303A;
  padding: 15px 16px;
  margin-bottom: 20px;
  color: var(--white-color);
}
.footer-form__input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: rgba(255, 255, 255, 0.6);
}
@media screen and (min-width: 1200px) {
  .footer-form__input {
    width: 358px;
  }
}

.footer-form__button {
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
  padding: 10px 28px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white-color);
  margin: 0 auto;
  cursor: pointer;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-form__button:hover {
  background-color: #188CE8;
}

.footer-form__icon {
  margin-left: 10px;
}

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.filters {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
  justify-content: center;
}

.filters .filters__item + .filters__item {
  margin-left: 8px;
}

.filters__button {
  padding: 6px 22px;
  border-color: transparent;
  background-color: #F5F4FA;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  cursor: pointer;
  border-radius: 4px;
  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.filters__button:hover, .filters__button:focus {
  background-color: var(--accent-color);
  color: var(--white-color);
  box-shadow: 4px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

/* cards */
.card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product__title {
  color: var(--title-text-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  text-align: left;
  margin-bottom: 4px;
}

.product__name {
  font-size: 16px;
  line-height: 1.88;
}

.product-text {
  padding: 20px 24px;
  border: 1px solid #EEEEEE;
  border-top: none;
  color: var(--main-color);
}

.card__item {
  margin-right: 30px;
  margin-bottom: 30px;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.card__item:hover, .card__item:focus {
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16);
}
.card__item:nth-child(3n) {
  margin-right: 0;
}
.card__item:nth-last-child(-n+3) {
  margin-bottom: 0;
}

.card__link {
  text-decoration-line: none;
}
.card__link:hover .product__overlay, .card__link:focus .product__overlay {
  transform: translateY(0);
}

.product {
  position: relative;
  overflow: hidden;
}

.product__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  color: var(--white-color);
}

.product__overlay {
  padding-top: 63px;
  padding-bottom: 63px;
  padding-left: 24px;
  padding-right: 24px;
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  bottom: 0;
  transition-duration: 250ms;
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(100%);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  cursor: pointer;
}

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: opacity, visibility;
}

.modal {
  width: 528px;
  height: 581px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 40px;
  margin: auto;
  background-color: var(--white-color);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px rgba(0, 0, 0, 0.14), 0 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal__close-button {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: var(--white-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50px;
}
.modal__close-button:hover, .modal__close-button:focus {
  fill: var(--accent-color);
  cursor: pointer;
}

.modal__close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--title-text-color);
}

.form__label {
  display: block;
  padding-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--main-color);
}

.form__input-wrapper {
  position: relative;
  margin-bottom: 10px;
}

.form__icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__input {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 100%;
  height: 40px;
  outline: none;
  padding: 12px 16px;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: var(--title-text-color);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__input:focus {
  border-color: var(--accent-color);
}
.form__input:focus + .form__icon {
  fill: var(--accent-color);
}
.form__input::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form__input-field {
  padding-left: 45px;
}

.form__message-area {
  height: 120px;
  resize: none;
  margin-bottom: 20px;
}

.form__button {
  display: flex;
  margin: 0 auto;
}

.form__input-wrapper {
  position: relative;
  margin-bottom: 10px;
}

.checkbox {
  opacity: 0;
  z-index: -1;
  position: absolute;
}
.checkbox:checked + .checkbox__label .checkbox__wrap {
  background-color: var(--accent-color);
  border: var(--accent-color);
}
.checkbox:checked + .checkbox__label .checkbox__wrap .checkbox__icon {
  opacity: 1;
}

.checkbox__wrap {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 15px;
  border-radius: 2px;
  border: 2px solid var(--title-text-color);
  margin-right: 7px;
  cursor: pointer;
  transition: border background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox__label {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
  margin-bottom: 30px;
}

.checkbox__icon {
  opacity: 0;
}

.checkbox__text {
  font-weight: 400;
  line-height: 1.71;
}

.checkbox__link {
  color: var(--accent-color);
}/*# sourceMappingURL=main.css.map */