h1,
h2,
h3 {
  text-align: center;
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
*,
::after,
::before {
  box-sizing: border-box;
}

html {
  -moz-tab-size: 4;
  tab-size: 4;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

hr {
  height: 0;
  color: inherit;
}

abbr[title] {
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
pre,
samp {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  text-indent: 0;
  border-color: inherit;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
select {
  text-transform: none;
}

[type=button],
[type=reset],
[type=submit],
button {
  -webkit-appearance: button;
}

::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

:-moz-focusring {
  outline: 1px dotted ButtonText;
}

:-moz-ui-invalid {
  box-shadow: none;
}

legend {
  padding: 0;
}

progress {
  vertical-align: baseline;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}

:root {
  --main-color: #757575;
  --accent-color: #2196F3;
  --title-text-color: #212121;
  --white-color: #FFFFFF;
}

body {
  background-color: var(--white-color);
  color: var(--main-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
}

.container {
  width: 1200px;
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.main-nav {
  display: flex;
  align-items: center;
}

.head-list {
  border-bottom: 1px solid #ECECEC;
}

.head-list__logo,
.page-foot__logo {
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration-line: none;
}

.head-list__nav {
  display: flex;
  align-items: center;
}

.head-list__accent {
  color: #000000;
}

.site-nav {
  display: flex;
  margin-left: 93px;
}

.site-nav__item + .site-nav__item {
  margin-left: 50px;
}

.site-nav__link,
.contact__link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration-line: none;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav__link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--title-text-color);
}
.site-nav__link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
  opacity: 0;
}
.site-nav__link:hover, .site-nav__linkfocus {
  color: var(--accent-color);
}

.site-nav__link.current {
  color: var(--accent-color);
}
.site-nav__link.current::after {
  opacity: 1;
}

.contact {
  display: flex;
  margin-left: auto;
}

.contact__item + .contact__item {
  margin-left: 50px;
}

.contact__link {
  display: flex;
  gap: 10px;
  align-items: center;
  color: var(--main-color);
}
.contact__link:hover, .contact__linkfocus {
  color: var(--accent-color);
}
.contact__link:hover .contact__icon, .contact__linkfocus .contact__icon {
  fill: var(--accent-color);
}

.contact__icon {
  fill: var(--main-color);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: #2F303A;
  text-align: center;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hero__title {
  margin: 0 auto;
  width: 696px;
  color: var(--white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

button {
  font-family: inherit;
}

.button {
  border-radius: 4px;
  border-color: transparent;
  padding: 10px 32px;
  margin-top: 30px;
  background-color: var(--accent-color);
  color: var(--white-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover {
  background-color: #188CE8;
}

.feature {
  padding-top: 94px;
  padding-bottom: 94px;
}

.feature__list {
  display: flex;
}
.feature__list .feature__item + .feature__item {
  margin-left: 30px;
}

.thumb {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #F5F4FA;
  border-radius: 4px;
  margin-bottom: 30px;
  width: 270px;
  min-height: 120px;
  text-align: center;
}

.feature__title {
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: left;
}

.feature__text {
  line-height: 1.71;
}

.work {
  padding-bottom: 94px;
}

.work__list {
  display: flex;
}
.work__list .work__item + .work__item {
  margin-left: 30px;
}

.work__title {
  color: var(--title-text-color);
  font-size: 36px;
  line-height: 1.17;
  margin-bottom: 50px;
}

.img-container {
  position: relative;
}

.work__text {
  color: var(--white-color);
  font-weight: 700;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.team {
  background-color: #F5F4FA;
  padding-top: 94px;
  padding-bottom: 94px;
}

.team__title {
  color: var(--title-text-color);
  font-size: 36px;
  line-height: 1.17;
  margin-bottom: 50px;
}

.team__list {
  display: flex;
}
.team__list .team__item + .team__item {
  margin-left: 30px;
}

.team__item {
  background-color: var(--white-color);
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.person {
  padding-top: 30px;
  padding-bottom: 30px;
}

.person__title {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 10px;
}

.person__text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 16px;
}

.person__social-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.person__social-circle {
  display: flex;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  align-items: center;
  justify-content: center;
  fill: #FFFFFF;
  transition-property: background;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.person__social-circle:hover, .person__social-circle:focus {
  background: var(--accent-color);
}
.person__social-circle:hover .person__social-icon, .person__social-circle:focus .person__social-icon {
  fill: var(--white-color);
}

.person__social-icon {
  fill: #AFB1B8;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients__title {
  color: var(--title-text-color);
  font-size: 36px;
  line-height: 1.17;
  margin-bottom: 50px;
}

.clients__list {
  display: flex;
  gap: 30px;
}

.clients__link {
  display: flex;
  border: 1px solid #AFB1B8;
  width: 170px;
  height: 92px;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:hover, .clients__link:focus {
  border-color: var(--accent-color);
}
.clients__link:hover .clients__icon, .clients__link:focus .clients__icon {
  fill: var(--accent-color);
}

.clients__icon {
  fill: #AFB1B8;
  width: 106px;
  height: 60px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.page-foot {
  background-color: #2F303A;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-content {
  display: flex;
  align-items: baseline;
}

.page-foot__logo .page-foot__accent {
  color: var(--white-color);
}

.address-list {
  font-style: inherit;
  margin-top: 20px;
}

.address-list__contact .address-list__link {
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.71;
  text-decoration-line: none;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.address-list__contact .address-list__link:hover, .address-list__contact .address-list__link:focus {
  color: var(--accent-color);
}

.address-list__contact .address-list__map {
  color: var(--white-color);
  line-height: 1.71;
  text-decoration-line: none;
  margin-bottom: 9px;
}

.address-list__contact .address-list__item + .address-list__item {
  margin-top: 9px;
}

.contact-foot {
  margin-top: 20px;
}

.social-foot {
  margin-left: 70px;
}

.social-foot__title,
.footer-form__title {
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 1.14;
  color: var(--white-color);
  text-align: left;
}

.social-foot__links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.social-foot__icon {
  fill: var(--white-color);
}

.social-foot__circle {
  background-color: #44454E;
  display: flex;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  align-items: center;
  justify-content: center;
  fill: #FFFFFF;
  transition-property: background;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social-foot__circle:hover, .social-foot__circlefocus {
  background: var(--accent-color);
}

.footer-form {
  margin-left: 93px;
}

.footer-form__form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-form__input {
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  width: 358px;
  height: 50px;
  background-color: #2F303A;
  padding: 15px 16px;
  color: var(--white-color);
}
.footer-form__input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: rgba(255, 255, 255, 0.6);
}

.footer-form__button {
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
  padding: 10px 28px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white-color);
  margin-left: 12px;
  cursor: pointer;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-form__button:hover {
  background-color: #188CE8;
}

.footer-form__icon {
  margin-left: 10px;
}

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.filters {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
  justify-content: center;
}

.filters .filters__item + .filters__item {
  margin-left: 8px;
}

.filters__button {
  padding: 6px 22px;
  border-color: transparent;
  background-color: #F5F4FA;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  cursor: pointer;
  border-radius: 4px;
  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.filters__button:hover,
.filters__button:focus {
  background-color: var(--accent-color);
  color: var(--white-color);
  box-shadow: 4px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

/* cards */
.card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product__title {
  color: var(--title-text-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  text-align: left;
  margin-bottom: 4px;
}

.product__name {
  font-size: 16px;
  line-height: 1.88;
}

.product-text {
  padding: 20px 24px;
  border: 1px solid #EEEEEE;
  border-top: none;
  color: var(--main-color);
}

.card__item {
  margin-right: 30px;
  margin-bottom: 30px;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.card__link {
  text-decoration-line: none;
}

.card__item:hover,
.card__item:focus {
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16);
}

.card__item:nth-child(3n) {
  margin-right: 0;
}

.card__item:nth-last-child(-n+3) {
  margin-bottom: 0;
}

.product {
  position: relative;
  overflow: hidden;
}

.product__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  color: var(--white-color);
}

.product__overlay {
  padding-top: 63px;
  padding-bottom: 63px;
  padding-left: 24px;
  padding-right: 24px;
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  bottom: 0;
  transition-duration: 250ms;
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(100%);
}

.card__link:hover .product__overlay,
.card__link:focus .product__overlay {
  transform: translateY(0);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  cursor: pointer;
}

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: opacity, visibility;
}

.modal {
  width: 528px;
  height: 581px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 40px;
  margin: auto;
  background-color: var(--white-color);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px rgba(0, 0, 0, 0.14), 0 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal__close-button {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: var(--white-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50px;
}
.modal__close-button:hover, .modal__close-button:focus {
  fill: var(--accent-color);
  cursor: pointer;
}

.modal__close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--title-text-color);
}

.form__label {
  display: block;
  padding-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--main-color);
}

.form__input-wrapper {
  position: relative;
  margin-bottom: 10px;
}

.form__icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__input {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 100%;
  height: 40px;
  outline: none;
  padding: 12px 16px;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: var(--title-text-color);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__input:focus {
  border-color: var(--accent-color);
}
.form__input:focus + .form__icon {
  fill: var(--accent-color);
}
.form__input::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form__input-field {
  padding-left: 45px;
}

.form__message-area {
  height: 120px;
  resize: none;
  margin-bottom: 20px;
}

.form__button {
  display: flex;
  margin: 0 auto;
}

.form__input-wrapper {
  position: relative;
  margin-bottom: 10px;
}

.checkbox {
  opacity: 0;
  z-index: -1;
  position: absolute;
}

.checkbox__wrap {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 15px;
  border-radius: 2px;
  border: 2px solid var(--title-text-color);
  margin-right: 7px;
  cursor: pointer;
  transition: border background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox__label {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
  margin-bottom: 30px;
}

.checkbox__icon {
  opacity: 0;
}

.checkbox__text {
  font-weight: 400;
  line-height: 1.71;
}

.checkbox:checked + .checkbox__label .checkbox__wrap {
  background-color: var(--accent-color);
  border: var(--accent-color);
}

.checkbox:checked + .checkbox__label .checkbox__wrap .checkbox__icon {
  opacity: 1;
}

.checkbox__link {
  color: var(--accent-color);
}/*# sourceMappingURL=main.css.map */