.page-foot {
    background-color: #2F303A;
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 60px;

    @media screen and (min-width: $tabl) {
            flex-direction: row;
            align-items: baseline;
            justify-content: space-around;
            flex-wrap: wrap;
        }
    
    @media screen and (min-width: $desc) {
            justify-content: unset;
            flex-wrap: nowrap;
        }
}

.page-foot__logo{
    color: var(--accent-color);
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.17;
    text-decoration-line: none;
    text-align: center;
    display: inline-block;
    margin-bottom: 20px;

    @media screen and (min-width: $desc) {
        font-size: 26px;
        line-height: 1.19;
        text-align: left;
        }
}

.page-foot__address-block{
    text-align: center;

    @media screen and (min-width: $desc) {
        text-align: left;
    }
}

.page-foot__logo .page-foot__accent {
    color: var(--white-color);
}

.address-list {
    font-style: inherit;
}

.address-list__contact .address-list__link {
    color: rgba(255, 255, 255, 0.6);
    line-height: 1.71;
    text-decoration-line: none;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}

.address-list__contact .address-list__map {
    color: var(--white-color);
    line-height: 1.71;
    text-decoration-line: none;
}

.address-list__contact .address-list__item+.address-list__item {
    margin-top: 8px;

    @media screen and (min-width: $desc) {
        margin-top: 9px;
    }
}

.social-foot {
    text-align: center;

    @media screen and (min-width: $desc) {
    margin-left: 70px;
    }
}

.social-foot__title,
.footer-form__title {
    margin-bottom: 20px;
    font-weight: 700;
    line-height: 1.14;
    color: var(--white-color);
    text-align: center;
    margin-bottom: 20px;

    @media screen and (min-width: $desc) {
            text-align: left;
        }
}

.social-foot__links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}   

.social-foot__icon {
    fill: var(--white-color);
}

.social-foot__circle {
    background-color: #44454E;
    display: flex;
    border-radius: 50%;
    width: 44px;
    height: 44px;
    align-items: center;
    justify-content: center;
    fill: #FFFFFF;
    transition-property: background;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &focus {
        background: var(--accent-color);
    }
}

.footer-form {
    width: 100%;
    
        @media screen and (min-width: $tabl) and (max-width: $pre-desc) {
            max-width: 450px;}
        @media screen and (min-width: $desc) {
                    margin-left: 93px;
                }
            }

.footer-form__form {

    @media screen and (min-width: $desc) {
        display: flex;
        justify-content: center;
        align-items: baseline;
    }
}

.footer-form__input {
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    width: 100%;
    height: 50px;
    background-color: #2F303A;
    padding: 15px 16px;
    margin-bottom: 20px;
    color: var(--white-color);

    &::placeholder {
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        display: flex;
        align-items: center;
        color: rgba(255, 255, 255, 0.6);
    }
        @media screen and (min-width: $desc) {
            width: 358px;
        }
}

.footer-form__button {
    background: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border-color: transparent;
    padding: 10px 28px;
    height: 50px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--white-color);
    margin: 0 auto;
    cursor: pointer;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover{
        background-color: #188CE8;
    }
}

.footer-form__icon {
    margin-left: 10px;
}