:root {
    --main-color: #757575;
    --accent-color: #2196F3;
    --title-text-color: #212121;
    --white-color: #FFFFFF;

    --general-transition-effect: .25s cubic-bezier(0.4, 0, 0.2, 1);

    --hero-image-overlay: rgba(47, 48, 58, 0.4);
    --hero-image-background-color: #C4C4C4;
}